
.root{
    /**-fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #52c234, #061700);**/
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #8dc63f,#b3db7d);
}

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: black;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    /**-fx-background-color: linear-gradient(#131313 0%, #424141 100%);**/
    -fx-background-color: rgb(255,255,255);
    -fx-opacity:0.3;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .table-cell{
    -fx-text-fill: #6b6b6b;
}

.table-row-cell:selected {
    -fx-background-color: #262626;
    /**-fx-background-color: white;*/
    -fx-background-color: #800000;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-inner-color: #006464;

}

/* Selected row*/
.table-view:focused .table-row-cell:filled:focused:selected {

    -fx-background-color: #eaf9ed;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused*/
.table-row-cell:filled:focused:selected {
    -fx-background-color: #01647c;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row hovered when table not focused*/
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #eef2ea;
    /**-fx-background-color: #969a9b;**/
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

/*Row hovered*/
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

/* Selected row hovered*/
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #01647c;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-row-cell{
    /**-fx-background-color: -fx-table-cell-border-color, #969a9b;**/
    -fx-background-color: #eef2ea;
    -fx-table-cell-border-color:#757773;
     /**-fx-background-color: -fx-table-cell-border-color, gray;**/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    /**-fx-background-color: -fx-table-cell-border-color, #424242;**/
    -fx-background-color: #cdd1ca;
    -fx-table-cell-border-color: #757773;
    /**-fx-background-color: -fx-table-cell-border-color, gray;**/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.custom-align {
  -fx-alignment: center;
}

.table-view .filler{
    -fx-size: 90;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: transparent;
    /*-fx-border-color:
        transparent
        transparent
        derive(-fx-base, 90%)
        transparent;*/
    -fx-border-color: black;
    -fx-border-insets: 0 10 1 0;
}